<ion-view title="About" id="page5">
    <ion-content padding="true" class="has-header">
      <h2>Our Story</h2>
      <p>
        Founded in 1946, United Way of Delaware (UWD) works
        to advance the common good by focusing on the three
        building blocks to a good life: Education, Income and Health.
        UWD is engaged in a long-term strategy to eliminate
        the root causes of Delaware's most pressing social
        problems in New Castle, Kent, and Sussex counties.
        UWD works collectively with business, government,
        social service agencies, academic groups, community organizations
        and concerned individuals to establish positive,
        long-lasting solutions for today and into the future.
      </p>
      <h2>Our Mission</h2>
      <p>
        Our mission is to maximize the community’s resources to improve the quality of life for all Delawareans.
      </p>
    </ion-content>
</ion-view>
