<ion-view title="Settings" id="page7">
    <ion-content padding="true" class="has-header">
        <ion-list id="settings-list3">
            <ion-item class="item-thumbnail-left item-icon-right" id="settings-list-item6">
                <h2>First Name</h2>
                <p>Last Name</p>
                <i class="icon ion-android-bulb"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <form id="settings-form2" class="list">
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle1">Push Notifications</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle2">Location</ion-toggle>
            <label class="item item-select" id="settings-select1">
                <span class="input-label">Passion</span>
                <select>
                    <option>Poverty</option>
                    <option>Education</option>
                    <option>Homelessness</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>